
<section id="Email">
    <h2>Login</h2>
    <form class="auth-form">
        <label for="login-email">Email</label>
        <input type="text" id="login-Email" placeholder="Enter your Email">
      <!-- <p class="error">Email is invalid!</p> -->
        <label for="login-password">Password</label>
        <input type="password" id="login-password" placeholder="Enter your password">
        <!-- <p class="error">Invalid Email or Password!</p> -->
       
        <button>Login</button>
        <p>Already have an account? <a routerLink="/register">Login here</a></p>
    </form>
</section>