<div class="container">

    <div class="discussion-content">
 
        <div class="discussion-header">
            <div class="title-wrapper">
                <div class="discussion-title">
                    <h2>{{theme.themeName}}</h2>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                </div>
                <div class="engagement-info">
                    <p>Subscribers: <span>{{theme.subscribers.length || 0}}</span></p>
                    @if (isLoggedin) {
                        @if(!theme.subscribers.includes(User?._id || '')){
                             <button class="subscribe" (click)="onSubscribe(theme._id)">Subscribe</button>
                        }
                    }
                </div>
            </div>
        </div>


        <div class="comments-section">
            @for (Post of theme.posts; track $index) {
                <div class="single-comment">
                    <header class="comment-header">
                        <p><strong>{{Post.userId.username}}</strong> posted on <time>{{Post.created_at}}</time></p>
                    </header>
                    <div class="comment-body">
                        <div class="user-avatar">
                            <img src="pngwing.com.png" alt="User Avatar">
                        </div>
                        <div class="comment-text">
                            <p>{{Post.text}}</p>
                            
                        </div>
                    </div>
                    <div class="comment-footer">
                        <p><span>{{Post.likes.length || 0}}</span> likes</p>
                        @if(!(User?._id === Post.userId._id) && isLoggedin)
                        {@if (!Post.likes.includes(User?._id || '')) {
                            <button class="like-button" (click)="onLike(Post._id)">Like</button>
                        }}
                    </div>
                    @if (User?._id === Post.userId._id) {
                <button (click)="onDeletePost(theme._id,Post._id)" class="delete-btn">Delete</button>
                    }
                </div>
            }

        @if (isLoggedin) {
                <div class="add-comment">
                    <p><strong>{{User?.username}}</strong> comment:</p>
                    <form class="comment-form" #form="ngForm" (ngSubmit)="createPost(form)">
                        <textarea 
                        name="postText" 
                        id="newComment" 
                        placeholder="Write your comment here..." 
                        rows="4"
                        ngModel
                        #postInput="ngModel"
                        ></textarea>
                        <button class="post-btn" >Post</button>
                    </form>
                </div>
            
        }
    </div>
</div>
