
.footer {
    position: absolute;
    bottom: 1;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ddd;
    font-size: 16px;
    color: #333;
}

.footer p {
    margin: 0;
    font-weight: bold;
}

