<div class="welcome-container">
    <h1>Добре дошли във форума!</h1>
    <p>Добре дошли във вашето пространство за споделяне и обсъждане! Тук идеите оживяват, 
        въпросите намират отговори, а мненията се ценят. Присъединете се към нашата общност 
        и започнете разговори, които имат значение. Независимо дали сте тук, за да научите, да
         вдъхновите или просто да се свържете – вие сте на правилното място. Вашето мнение заслужава 
         сцена. Да говорим!</p>
    
    <div class="button-container">
        <a routerLink="/login" class="btn">Login</a>
        <a routerLink="/register" class="btn register">Register</a>
    </div>
</div>
